@using ExpenseManager.Resources.BudgetResources
@model ExpenseManager.Web.Models.Budget.BudgetShowModel

@{
    ViewBag.Title = BudgetResource.DeleteBudget;
}

<h3>@String.Format(BudgetResource.SureOfDelete, Model.Name)</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Guid)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.EndDate)
    @Html.HiddenFor(model => model.StartDate)
    @Html.HiddenFor(model => model.Limit)

    <div class="form-actions no-color">
        <input type="submit" value=@SharedResource.Delete class="btn btn-success" />
        @Html.ActionLink(SharedResource.BackToList, "Index", null, new { @class = "btn btn-danger" })
    </div>
}