@using ExpenseManager.Resources.BudgetResources
@using PagedList.Mvc;
@model PagedList.IPagedList<ExpenseManager.Web.Models.Budget.BudgetShowModel>

@{
    ViewBag.Title = BudgetResource.BudgetsManagement;
}

<p>
    @Html.ActionLink(SharedResource.CreateNew, "Create", null, new {@class = "btn btn-action"})
</p>

@if (Model.Count > 0)
{
    <div class="medium-margin-top table-responsive">
        <table class="table table-hover table-condensed">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ElementAt(0).Limit)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Limit)
                    </td>
                    <td>
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@SharedResource.Action <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink(SharedResource.Edit, "Edit", new {id = item.Guid})
                                </li>
                                <li>
                                    @Html.ActionLink(SharedResource.Permissions, "Index", "BudgetAccessRight", new {id = item.Guid}, null)
                                </li>
                                <li>
                                    @Html.ActionLink(SharedResource.Delete, "Delete", new {id = item.Guid})
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }

        </table>
    </div>
    if (Model.PageCount > 1)
    {
        <div class="text-center">
            @String.Format(SharedResource.Pager, Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber, Model.PageCount)

            @Html.PagedListPager(Model, page => Url.Action("Index",
                new {page}))
        </div>
    }
}