@using Chart.Mvc.Extensions
@using ExpenseManager.Web.Controllers
@model ExpenseManager.Web.Models.HomePage.DashBoardModel
@{
    ViewBag.Title = "Overview page";
}
@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Add transaction", "ExpenseIncome", "Transaction", null, new { @class = "btn btn-action" })
    <div class="medium-margin-top ">
        <div class="row">
            @if (Model.ContainsAnyData())
            {
                <div class="col-md-7">
                    <h3> Last 5 transactions</h3>
                    <div class="medium-margin-top table-responsive">
                        <table class="table table-hover table-condensed">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Transactions.FirstOrDefault().Amount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Transactions.FirstOrDefault().Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Transactions.FirstOrDefault().Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Transactions.FirstOrDefault().CategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Transactions.FirstOrDefault().CurrencySymbol)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Transactions.FirstOrDefault().BudgetName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Transactions.FirstOrDefault().IsRepeatable)
                                </th>
                            </tr>

                            @foreach (var item in Model.Transactions)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CurrencySymbol)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BudgetName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsRepeatable)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="jumbotron">
                    <div class="container">
                        <h1>No data available :( </h1>
                        <p>
                            Please add some transactions so you can see your personal dashboard.
                        </p>
                    </div>
                </div>
            }

            @if (Model.ContainsGraphData())
            {
                <div class="col-md-5">
                    <h3> Graph summaries</h3>
                    <div class="medium-margin-top">

                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#categoriesExpense" aria-controls="categoriesExpense" role="tab" data-toggle="tab" id="categoryTab">
                                    <span data-toggle="tooltip" data-placement="top" title="Expenses by category in last month">
                                       Expense
                                    </span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#categoriesIncome" aria-controls="categoriesIncome" role="tab" data-toggle="tab">
                                    <span data-toggle="tooltip" data-placement="top" title="Incomes by category in last month">
                                        Income
                                    </span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#months" aria-controls="months" role="tab" data-toggle="tab">
                                    <span data-toggle="tooltip" data-placement="top" title="Last month report">Month</span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#years" aria-controls="years" role="tab" data-toggle="tab">
                                    <span data-toggle="tooltip" data-placement="top" title="Last year report">Year</span>
                                </a>
                            </li>
                        </ul>


                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="categoriesExpense">
                                <div class="medium-margin-top">
                                    <h4>Expenses by category in last month</h4>
                                    <canvas id="categoriesExpenseGraph" width="300" height="300"></canvas>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="categoriesIncome">
                                <div class="medium-margin-top">
                                    <h4>Incomes by category in last month</h4>
                                    <canvas id="categoriesIncomeGraph" width="300" height="300"></canvas>
                                </div>

                            </div>
                            <div role="tabpanel" class="tab-pane active" id="months">
                                <h4>Last Month report</h4>
                                <div class="medium-margin-top">
                                    <canvas id="monthsGraph" width="300" height="300"></canvas>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="years">
                                <h4>Last year report</h4>
                                <div class="medium-margin-top">
                                    <canvas id="yearsGraph" width="300" height="300"></canvas>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @section Scripts {
        @{
            if (Model.CategoriesExpenseChart != null)
            {
                @Html.CreateChart("categoriesExpenseGraph", Model.CategoriesExpenseChart)
            }
            if (Model.CategoriesExpenseChart != null)
            {
                @Html.CreateChart("categoriesIncomeGraph", Model.CategoriesIncomeChart)
            }
            if (Model.MonthSummaryChart != null)
            {
                @Html.CreateChart("monthsGraph", Model.MonthSummaryChart)
            }
            if (Model.MonthSummaryChart != null)
            {
                @Html.CreateChart("yearsGraph", Model.YearSummaryChart)
            }
                <script type="text/javascript">
                            // other tabs won't generate without being active and we need to have just single active tab
                            // hence we have to remove active class from other tabs
                             $('#categoriesIncome').removeClass('active');
                             $('#months').removeClass('active');
                             $('#years').removeClass('active');
                </script>

        }
    }
            }
            else
            {
                        <div class="jumbotron">
                            <div class="container">
                                <h1>Hello anonymous user!</h1>
                                <p>
                                    Welcome to Expense manager - best money management application. You have to login to show more functionality.
                                </p>
                            </div>
                        </div>
                    }