@using Chart.Mvc.Extensions
@using ExpenseManager.Web.Controllers
@model ExpenseManager.Web.Models.HomePage.FilterDataModel
@{
    ViewBag.Title = "Overview page";
}
@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Add transaction", "Create", "Transaction", null, new {@class = "btn btn-action"})
    <div class="medium-margin-top"/>
    <div class="row">
        <div class="col-md-6">
            <h2>Filter:</h2>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new {@class = "form-horizontal"}))
            {
                @Html.AntiForgeryToken()



                <div class="form-group">
                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.StartDate, new {@class = "form-control datepicker", @Value = Model.StartDate.ToString(AbstractController.DateFormat)})
                        @Html.ValidationMessageFor(model => model.StartDate, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.EndDate, new {@class = "form-control datepicker", @Value = Model.EndDate.ToString(AbstractController.DateFormat)})
                        @Html.ValidationMessageFor(model => model.EndDate, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-success">Show</button>
                        @Html.ActionLink("Clear", "Index", null, new {@class = "btn btn-danger"})
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6">
            <canvas id="graphCanvas" width="300" height="300"></canvas>
            @{
                if (ViewBag.ChartData != null)
                {
                    @HtmlExtensions.CreateChart((HtmlHelper) Html, (string) "graphCanvas", ViewBag.ChartData)
                }


            }

        </div>

    </div>
                }
                else
                {
                    <div class="jumbotron">
                        <div class="container">
                            <h1>Hello anonymous user!</h1>
                            <p>Welcome to Expense manager - best money management application. You have to login to show more functionality.
                            </p>
                        </div>
                    </div>
                }
