@using Chart.Mvc.Extensions
@using ExpenseManager.Web.Controllers
@model ExpenseManager.Web.Models.HomePage.DashBoardModel
@{
    ViewBag.Title = "Overview page";
}
@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Add transaction", "ExpenseIncome", "Transaction", null, new {@class = "btn btn-action"})
    <div class="medium-margin-top"/>
    <div class="row">
        <div class="col-md-6">
            <h2>Filter:</h2>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new {@class = "form-horizontal"}))
            {
                @Html.AntiForgeryToken()



                <div class="form-group">
                    @Html.LabelFor(model => model.Filter.StartDate, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Filter.StartDate, new {@class = "form-control datepicker", @Value = Model.Filter.StartDate.ToString(AbstractController.DateFormat)})
                        @Html.ValidationMessageFor(model => model.Filter.StartDate, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Filter.EndDate, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Filter.EndDate, new {@class = "form-control datepicker", @Value = Model.Filter.EndDate.ToString(AbstractController.DateFormat)})
                        @Html.ValidationMessageFor(model => model.Filter.EndDate, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-success">Show</button>
                        @Html.ActionLink("Clear", "Index", null, new {@class = "btn btn-danger"})
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6">
            @if (Model.Categories != null || Model.Months != null)
            {
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#category" aria-controls="category" role="tab" data-toggle="tab">Category</a></li>
                    <li role="presentation"><a href="#months" aria-controls="months" role="tab" data-toggle="tab">Months</a></li>
                </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="category">
                    <div class="medium-margin-top"></div>
                    <canvas id="categoriesGraph" width="300" height="300"></canvas>
                </div>
                <div role="tabpanel" class="tab-pane" id="months">
                    <div class="medium-margin-top"></div>
                    <canvas id="monthsGraph" width="300" height="300"></canvas>
                </div>
            </div>
            }
            @{
                if (Model.Categories != null)
                {
                    @Html.CreateChart("categoriesGraph", Model.Categories)
                }
                if (Model.Months != null)
                {
                    @Html.CreateChart("monthsGraph", Model.Months)
                }
            }

        </div>

    </div>
                }
                else
                {
                    <div class="jumbotron">
                        <div class="container">
                            <h1>Hello anonymous user!</h1>
                            <p>Welcome to Expense manager - best money management application. You have to login to show more functionality.
                            </p>
                        </div>
                    </div>
                }
