@using ExpenseManager.Resources.UsersAdminResources
@model ExpenseManager.Web.Models.User.RegisterWithPasswordViewModel
@{
    ViewBag.Title = UsersAdminResource.CreateNewUser;
}


@using (Html.BeginForm("Create", "UsersAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-error" })
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CurrencyId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CurrencyId, Model.Currencies, "Select Currency", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(Model => Model.CurrencyId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group hidden-xs hidden-sm">
        <label class="col-md-2 control-label">
            @UsersAdminResource.SelectUserRole
        </label>
        <div class="row col-md-offset-2">
            @foreach (var item in Model.RolesList)
            {
                <div class="col-md-10">
                    <input type="checkbox" name="SelectedRoles" value="@item.Text" id="@item.Text" class="checkbox-inline" />
                    @Html.Label(item.Text, new { @class = "control-label" })
                </div>
            }
        </div>
    </div>

    <div class="form-group visible-xs visible-sm">
        <label class="col-xs-12 col-sm-0 control-label" id="userRoleLabel">
            @UsersAdminResource.SelectUserRole
        </label>

        @foreach (var item in Model.RolesList)
        {
            <div class="col-xs-12 col-sm-12">
                <input type="checkbox" name="SelectedRoles" value="@item.Text" id="@item.Text" class="checkbox-inline" />
                @Html.Label(item.Text, new { @class = "control-label" })
            </div>
        }
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-success" value=@SharedResource.Create />
                @Html.ActionLink(SharedResource.Cancel, "Index", null, new { @class = "btn btn-danger" })
            </div>
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}