@model ExpenseManager.Web.Models.User.UserDetailViewModel

@{
    ViewBag.Title = "User details";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            List of roles for this user
            <span class="badge">@Model.RolesList.Count()</span>
        </h4>
    </div>

    <ul class="list-group">
        @if (!Model.RolesList.Any())
        {
            <li class="list-group-item">
                No roles found for this User.
            </li>
        }
        @foreach (var item in Model.RolesList)
        {
            <li class="list-group-item">
                @item
            </li>
        }
    </ul>
</div>

    <p>
        @Html.ActionLink("Edit User", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
    </p>



