@model ExpenseManager.Web.Models.User.IndexViewModel
@{
    ViewBag.Title = "Manage account";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword", null, new {@class = "btn btn-primary"})
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword", null, new {@class = "btn btn-primary"})
            }
        </dd>
        <div class="medium-margin-top" /> 
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count
            @Html.ActionLink("Manage", "ManageLogins", null, new {@class = "btn btn-primary"})
        </dd>
        
    </dl>
</div>
