@using ExpenseManager.Resources.ManageResources
@model ExpenseManager.Web.Models.User.IndexViewModel
@{
    ViewBag.Title = ManageResource.ManageAccount;
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <dl class="dl-horizontal">
        <dt>@ManageResource.Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink(ManageResource.ChangeYourPassword, "ChangePassword", null, new {@class = "btn btn-primary"})
            }
            else
            {
                @Html.ActionLink(SharedResource.Create, "SetPassword", null, new {@class = "btn btn-primary"})
            }
        </dd>
        <div class="medium-margin-top" /> 
        <dt>@ManageResource.ExternalLogins:</dt>
        <dd>
            @Model.Logins.Count()
            @Html.ActionLink(SharedResource.Manage, "ManageLogins", null, new {@class = "btn btn-primary"})
        </dd>
        
    </dl>
</div>
