@using ExpenseManager.Resources.CategoryResources
@model ExpenseManager.Web.Models.Category.CategoryModel

@{
    ViewBag.Title = CategoryResource.DeleteCategory;
}

<h3>@String.Format(CategoryResource.DeleteConfirmation, Model.Name)</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Guid)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.Type)
    @Html.HiddenFor(model => model.Description)
    @Html.HiddenFor(model => model.Icon)
    @Html.HiddenFor(model => model.User)

    <div class="form-actions no-color">
        <input type="submit" value=@SharedResource.Delete class="btn btn-success" />
        @Html.ActionLink(SharedResource.BackToList, "Index", null, new { @class = "btn btn-danger" })
    </div>
}