@model IEnumerable<ExpenseManager.Web.Models.Category.CategoryShowModel>

@{
    ViewBag.Title = "Categories";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create new category", "Create")
</p>

@if (Model.Count() != 0)
{
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th></th>
        </tr>
        @foreach (var category in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => category.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => category.Description)
                </td>
                <td>
                    @Html.DisplayFor(m => category.Type)
                </td>
                <td>
                    <span class="glyphicon @category.Icon"></span>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {Guid = category.Guid}) |
                    @Html.ActionLink("Delete", "Delete", new { Guid = category.Guid }, new { onclick = "return confirm('Are you sure you wish to delete this category?');" })
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>No categories</p>
}