@using ExpenseManager.Resources.RolesAdmin
@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = RolesAdminResource.DeleteRole;
}

<h3>@String.Format(RolesAdminResource.SureOfDelete, @Html.DisplayFor(model => model.Name))</h3>
<p>@RolesAdminResource.DeletingRole</p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@SharedResource.Delete class="btn btn-success" /> 
            @Html.ActionLink(SharedResource.Cancel, "Index",null,new {@class="btn btn-danger"})
        </div>
    }
