@using ExpenseManager.Resources.RolesAdmin
@model ExpenseManager.Web.Models.Role.RoleDetailViewModel

@{
    ViewBag.Title = RolesAdminResource.RoleDetails;
}
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div class="panel panel-default">
<div class="panel-heading">
    <h4>
        @RolesAdminResource.ListOfUsers
        <span class="badge">@Model.Users.LongCount()</span>
    </h4>
</div>
    <ul class="list-group">
        @if (!Model.Users.Any())
        {
            <li class="list-group-item">
                @RolesAdminResource.NoUsersFound
            </li>
        }

        @foreach (var item in Model.Users)
        {
                @Html.ActionLink(item.UserName, SharedResource.Edit, "UsersAdmin", new {id = item.Id}, new {@class= "list-group-item btn btn-default" })
        }
    </ul>
</div>

<p>
    @Html.ActionLink(SharedResource.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink(SharedResource.Cancel, "Index", null, new { @class = "btn btn-danger" })
</p>



