@model ExpenseManager.Web.Models.Role.RoleDetailViewModel

@{
    ViewBag.Title = "Role details";
}
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div class="panel panel-default">
<div class="panel-heading">
    <h4>
        List of users in this role
        <span class="badge">@Model.Users.Count</span>
    </h4>
</div>
    <ul class="list-group">
        @if (Model.Users.Count == 0)
        {
            <li class="list-group-item">
                No users found in this role.
            </li>
        }

        @foreach (var item in Model.Users)
        {
                @Html.ActionLink(item.UserName, "Edit", "UsersAdmin", new {id = item.Id}, new {@class= "list-group-item btn btn-default" })
        }
    </ul>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
</p>



