@using ExpenseManager.Resources.TransactionResources
@model ExpenseManager.Web.Models.Transaction.EditTransactionModel

@{
    ViewBag.Title = TransactionResource.DeleteTransaction;
}

<h3>@String.Format(TransactionResource.SureOfDelete, @Model.Description)</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)

    <div class="form-actions no-color">
        <input type="submit" value=@SharedResource.Delete class="btn btn-success" />
        @Html.ActionLink(SharedResource.BackToList, "Index", null, new { @class = "btn btn-danger" })
    </div>
}