@model ExpenseManager.Web.Models.Transaction.EditTransactionModel

@{
    ViewBag.Title = "Edit transaction";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.WalletId)

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-3">
                @Html.EditorFor(model => model.Amount, new {htmlAttributes = new {@class = "form-control", @data_val = "false" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.CategoryId, Model.Categories, "Select Category", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Date, new {@class = "form-control datepicker", @Value = Model.Date.ToShortDateString()})
                @Html.ValidationMessageFor(model => model.Date, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-3">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = 5 })
                @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CurrencyId, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.CurrencyId, Model.Currencies, "Select Currency", htmlAttributes: new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.CurrencyId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BudgetId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.BudgetId, Model.Budgets, "Select Budget", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BudgetId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsRepeatable, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3" style="margin-top: 7px">
                @Html.CheckBoxFor(model => model.IsRepeatable, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IsRepeatable, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="repeatableTransaction"
             @if (!@Html.ViewData.Model.IsRepeatable)
             {
                 <text>hidden = "hidden" </text>
             }>
            <div class="form-group">
                @Html.LabelFor(model => model.NextRepeat, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group row">
                    <div class="col-md-1">
                        @Html.EditorFor(model => model.NextRepeat, new { htmlAttributes = new { @class = "form-control", @Value = Model.NextRepeat ?? 1 } })
                        @Html.ValidationMessageFor(model => model.NextRepeat, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        @Html.EnumDropDownListFor(model => model.FrequencyType, "Select Frequency", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FrequencyType, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastOccurrence, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-3">
                    @if (Model.LastOccurrence != null)
                    {
                        Html.DisplayTextFor(model => model.LastOccurrence);
                    }
                    else
                    {
                        Html.DisplayText("never");
                    }
                </div>
            </div>
        </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success"/>
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
}

<script type="text/javascript">
    $(function () {
       $('.datepicker').datepicker();
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("/Scripts/transactionCheckbox.js")
}
