@model PagedList.IPagedList<ExpenseManager.Web.Models.Transaction.TransactionShowModel>
@using ExpenseManager.Resources.TransactionResources
@using PagedList.Mvc;

@{
    ViewBag.Title = TransactionResource.Overview;
}
@if (ViewBag.editable)
{
    <div class="row" id="actionContainer">
        <div class="col-md-2 col-sm-3">
            @Html.ActionLink(SharedResource.CreateNew, "ExpenseIncome", new {wallet = ViewBag.displayedWalletId}, new {@class = "btn btn-action"})
        </div>

        <div class=" col-md-5 col-sm-6 hidden-xs" id="csvButtons">
            <a href="@Url.Action("Import")" class="btn btn-action-small"><i class="glyphicon glyphicon-upload"></i> @TransactionResource.Import</a>
            <a href="@Url.Action("Export", new {wallet = ViewBag.displayedWalletId, category = ViewBag.selectedCategoryId, budget = ViewBag.selectedBudgetId})" class="btn btn-action-small"><i class="glyphicon glyphicon-download"></i> @TransactionResource.Export</a>
        </div>
    </div>


    <div class="row visible-xs" style="margin-top: 15px">
        <div class="col-xs-12">
            <a href="@Url.Action("Import")" class="btn btn-action-small"><i class="glyphicon glyphicon-upload"></i> @TransactionResource.Import</a>
        </div>
    </div>

    <div class="row visible-xs" style="margin-top: 5px">
        <div class="col-xs-12">
            <a href="@Url.Action("Export", new {wallet = ViewBag.displayedWalletId, category = ViewBag.selectedCategoryId, budget = ViewBag.selectedBudgetId})" class="btn btn-action-small" style="margin-top: 5px"><i class="glyphicon glyphicon-download"></i> @TransactionResource.Export</a>
        </div>
    </div>
}
<p>
    @using (Html.BeginForm(SharedResource.Index, "Transaction", FormMethod.Get, new {@class = "form-horizontal"}))
    {
        <div class="form-group small-margin-top">
            <div class="col-md-2">
                @TransactionResource.ChooseYourWallet:
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-2">
                @Html.DropDownList("wallet", null, new {@class = "form-control"})
            </div>
            <div class="col-md-2">
                @Html.DropDownList("category", null, TransactionResource.CategorySelection, new {@class = "form-control"})
            </div>
            <div class="col-md-2">
                @Html.DropDownList("budget", null, TransactionResource.BudgetSelection, new {@class = "form-control"})
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i> @TransactionResource.Filter</button>

            </div>
           

        </div>
    }

</p>

<div class="medium-margin-top table-responsive">
    <table class="table table-hover table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).CurrencySymbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).BudgetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).IsRepeatable)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrencySymbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BudgetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsRepeatable)
                </td>
                <td>
                    @if (ViewBag.editable)
                    {
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@SharedResource.Action <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink(SharedResource.Edit, "Edit", new {id = item.Id})</li>
                                <li>@Html.ActionLink(SharedResource.Delete, "Delete", new {id = item.Id})</li>
                            </ul>
                        </div>
                    }

                </td>
            </tr>
        }

    </table>
</div>
@if (Model.PageCount > 1)
{
    <div class="text-center">
        @String.Format(SharedResource.Pager, Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber, Model.PageCount)

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new {wallet = ViewBag.displayedWalletId, category = ViewBag.selectedCategoryId, budget = ViewBag.selectedBudgetId, page}))
    </div>
}