@model IEnumerable<ExpenseManager.Web.Models.Transaction.TransactionShowModel>

@{
    ViewBag.Title = "Transactions overview";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-action"})
</p>
<p>
    @using (Html.BeginForm("Index", "Transaction", FormMethod.Get, new {@class = "form-horizontal"}))
    {
        <div class="form-group small-margin-top">
            <div class="col-md-2">
                Choose your wallet:
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.DropDownList("walletId", new SelectList(ViewBag.WalletList, "Value", "Text"), new {@class = "form-control"})
            </div>
            <input type="submit" class="btn btn-default" value="Show"/>
        </div>
    }

</p>

<div class="medium-margin-top">
<table class="table table-hover table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrencySymbol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BudgetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRepeatable)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencySymbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BudgetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRepeatable)
            </td>
            <td>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</li>
                        <li>@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this transaction?');" })</li>
                    </ul>
                </div>
                
            </td>
        </tr>
    }

</table>
</div>