@model PagedList.IPagedList<ExpenseManager.Web.Models.Transaction.TransactionShowModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Transactions overview";
}
@if (ViewBag.editable)
{
    <p>
        @Html.ActionLink("Create New", "ExpenseIncome", new {wallet = ViewBag.displayedWalletId }, new { @class = "btn btn-action" })
    </p>
}
<p>
    @using (Html.BeginForm("Index", "Transaction", FormMethod.Get, new {@class = "form-horizontal"}))
    {
        <div class="form-group small-margin-top">
            <div class="col-md-2">
                Choose your wallet:
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-2">
                @Html.DropDownList("wallet", null, new {@class = "form-control"})
            </div>
            <div class="col-md-2">
                @Html.DropDownList("category", null, "Select Category", new {@class = "form-control"})
            </div>
            <div class="col-md-2">
                @Html.DropDownList("budget", null, "Select Budget", new {@class = "form-control"})
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-default" value="Filter"/>
                </div>
        </div>
    }

</p>

<div class="medium-margin-top table-responsive">
    <table class="table table-hover table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).CurrencySymbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).BudgetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElementAt(0).IsRepeatable)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrencySymbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BudgetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsRepeatable)
                </td>
                <td>
                    @if (ViewBag.editable)
                    {
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle btn btn-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Edit", "Edit", new {id = item.Id})</li>
                                <li>@Html.ActionLink("Delete", "Delete", new {id = item.Id})</li>
                            </ul>
                        </div>
                    }

                </td>
            </tr>
        }

    </table>
</div>
@if (Model.PageCount > 1)
{
    <div class="text-center">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new {wallet = ViewBag.displayedWalletId, category = ViewBag.selectedCategoryId, budget = ViewBag.selectedBudgetId, page}))
    </div>
}