@using ExpenseManager.Entity
@model ExpenseManager.Web.Models.WalletAccessRight.WalletAccessRightModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Permission)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Permission)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AssignedUserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AssignedUserName)
                </dd>

            </dl>
            <div>
    @using (Html.BeginForm())
            {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (!PermissionEnum.Owner.ToString().Equals(Model.Permission))
            {
                <input type="submit" value="Delete" class="btn btn-success" />
            }

            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
        </div>
    }
</div>

