@using Chart.Mvc.Extensions
@using ExpenseManager.BusinessLogic.DashboardServices
@using ExpenseManager.Resources.DashboardResources
@using ExpenseManager.Resources.TransactionResources
@using ExpenseManager.Web.Controllers
@model ExpenseManager.Web.Models.HomePage.DashBoardModel
@{
    ViewBag.Title = DashBoardResource.OverviewPage;
}
@if (Request.IsAuthenticated)
{
    @Html.ActionLink(TransactionResource.AddNew, "ExpenseIncome", "Transaction", null, new { @class = "btn btn-action" })


    using (Html.BeginForm("IndexWithFilter", "DashBoard", FormMethod.Get, new { @class = "form-horizontal collapse in", @id = "collapsibleSetting" }))
    {
        <div class="form-group row medium-margin-top">
            <h4 class="col-md-2 control-label">
                @DashBoardResource.FilterCriteriaDescription
            </h4>
            <div class="col-md-2">
                @Html.ListBoxFor(m => m.Filter.Wallets, Model.Filter.WalletsSelectList, new { @class = "form-control chosen-select", @data_placeholder = SharedResource.SelectWallets })
            </div>
            <div class="col-md-2">
                @Html.ListBoxFor(m => m.Filter.Categories, Model.Filter.CategoriesSelectList, new { @class = "form-control chosen-select", @data_placeholder = SharedResource.SelectCategories })
            </div>
            <div class="col-md-2">
                @Html.ListBoxFor(m => m.Filter.Budgets, Model.Filter.BudgetsSelectList, new { @class = "form-control chosen-select", @data_placeholder = SharedResource.SelectBudgets })
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i> @SharedResource.Filter</button>

            </div>
        </div>
    }
    <div class="medium-margin-top">
        <div class="row">
            @if (Model.ContainsAnyData())
            {
                <div class="col-md-7">
                    <h3> @String.Format(DashBoardResource.LastXTransaction, DashBoardService.NumberOfTransactionsOnDashBoard)</h3>
                    <div class="medium-margin-top table-responsive">
                        <table class="table table-hover table-condensed">
                            <tr>
                                <th style="text-align: center">
                                    @Html.DisplayNameFor(model => model.Transactions.FirstOrDefault().Amount)
                                </th>
                                <th></th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Transactions.FirstOrDefault().Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Transactions.FirstOrDefault().Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Transactions.FirstOrDefault().CategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Transactions.FirstOrDefault().BudgetName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Transactions.FirstOrDefault().WalletName)
                                </th>
                            </tr>

                            @foreach (var item in Model.Transactions)
                            {
                                <tr>
                                    <td style="text-align: right">
                                        @Html.DisplayFor(modelItem => item.Amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CurrencySymbol)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td style="text-align: center">
                                        <i class="glyphicon @item.CategoryIconPath" data-toggle="tooltip" data-placement="top" title="@item.CategoryName"></i>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BudgetName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WalletName)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="jumbotron">
                    <div class="container">
                        <h1>@DashBoardResource.NoDataHeader</h1>
                        <p>
                            @DashBoardResource.NoDataDescription
                        </p>
                    </div>
                </div>
            }

            @if (Model.ContainsGraphData())
            {
                <div class="col-md-5">
                    <h3>
                        @DashBoardResource.GraphSummaries
                        <a style="text-decoration: none;" role="button" data-toggle="collapse" href="#collapsibleSetting" aria-expanded="false" aria-controls="collapsibleSetting">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                    </h3>
                    <div class="medium-margin-top">

                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#budgetLimit" aria-controls="budgetLimit" role="tab" data-toggle="tab">
                                    <span data-toggle="tooltip" data-placement="top" title="@DashBoardResource.BudgetTabDescription">@DashBoardResource.BudgetTabLabel</span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#categoriesExpense" aria-controls="categoriesExpense" role="tab" data-toggle="tab" id="categoryTab">
                                    <span data-toggle="tooltip" data-placement="top" title="@DashBoardResource.ExpensesByCategoryInLastMonthTabDescription">
                                        @TransactionResource.Expense
                                    </span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#categoriesIncome" aria-controls="categoriesIncome" role="tab" data-toggle="tab">
                                    <span data-toggle="tooltip" data-placement="top" title="@DashBoardResource.IncomesByCategoryInLastMonthTabDescription">
                                        @TransactionResource.Income
                                    </span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#months" aria-controls="months" role="tab" data-toggle="tab">
                                    <span data-toggle="tooltip" data-placement="top" title="@DashBoardResource.LastMonthTabDescription"> @DashBoardResource.LastMonthTabLabel </span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#years" aria-controls="years" role="tab" data-toggle="tab">
                                    <span data-toggle="tooltip" data-placement="top" title="@DashBoardResource.LastYearTabDescription">@DashBoardResource.LastYearTabLabel</span>
                                </a>
                            </li>
                        </ul>


                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="budgetLimit">
                                <div class="medium-margin-top">
                                    <h4>@DashBoardResource.BudgetTabDescription</h4>
                                    @if (Model.BudgetLimitChart == null)
                                    {
                                        <h4>@DashBoardResource.NotEnoughDataAvailable</h4>
                                    }
                                    else
                                    {
                                        <canvas id="budgetLimitChart" width="300" height="300"></canvas>
                                    }
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="categoriesExpense">
                                <div class="medium-margin-top">
                                    <h4>@DashBoardResource.ExpensesByCategoryInLastMonthTabDescription</h4>
                                    @if (Model.CategoriesExpenseChart == null)
                                    {
                                        <h4>@DashBoardResource.NotEnoughDataAvailable</h4>
                                    }
                                    else
                                    {
                                        <canvas id="categoriesExpenseGraph" width="300" height="300"></canvas>
                                    }
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="categoriesIncome">
                                <div class="medium-margin-top">
                                    <h4>@DashBoardResource.IncomesByCategoryInLastMonthTabDescription</h4>
                                    @if (Model.CategoriesIncomeChart == null)
                                    {
                                        <h4>@DashBoardResource.NotEnoughDataAvailable</h4>
                                    }
                                    else
                                    {
                                        <canvas id="categoriesIncomeGraph" width="300" height="300"></canvas>
                                    }
                                </div>

                            </div>
                            <div role="tabpanel" class="tab-pane active" id="months">

                                <div class="medium-margin-top">
                                    <h4>@DashBoardResource.LastMonthTabDescription</h4>
                                    @if (Model.MonthSummaryChart == null)
                                    {
                                        <h4>@DashBoardResource.NotEnoughDataAvailable</h4>
                                    }
                                    else
                                    {
                                        <canvas id="monthsGraph" width="300" height="300"></canvas>
                                    }
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="years">
                                <div class="medium-margin-top">
                                    <h4>@DashBoardResource.LastMonthTabDescription</h4>
                                    @if (Model.YearSummaryChart == null)
                                    {
                                        <h4>@DashBoardResource.NotEnoughDataAvailable</h4>
                                    }
                                    else
                                    {
                                        <canvas id="yearsGraph" width="300" height="300"></canvas>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @section Scripts {
        @{
            if (Model.BudgetLimitChart != null)
            {
                @Html.CreateChart("budgetLimitChart", Model.BudgetLimitChart)
            }
            if (Model.CategoriesExpenseChart != null)
            {
                @Html.CreateChart("categoriesExpenseGraph", Model.CategoriesExpenseChart)
            }
            if (Model.CategoriesIncomeChart != null)
            {
                @Html.CreateChart("categoriesIncomeGraph", Model.CategoriesIncomeChart)
            }
            if (Model.MonthSummaryChart != null)
            {
                @Html.CreateChart("monthsGraph", Model.MonthSummaryChart)
            }
            if (Model.MonthSummaryChart != null)
            {
                @Html.CreateChart("yearsGraph", Model.YearSummaryChart)
            }
            <script type="text/javascript">
                // other tabs won't generate without being active and we need to have just single active tab
                // hence we have to remove active class from other tabs
                $('#categoriesExpense').removeClass('active');
                $('#categoriesIncome').removeClass('active');
                $('#months').removeClass('active');
                $('#years').removeClass('active');
            </script>
            // show filter if no data displayed and filter is set
            if ((!Model.Filter.IsFilterSet() && !Model.ContainsAnyData()) || Model.ContainsAnyData())
            {
                <script type="text/javascript">
                    setTimeout(function () { $('#collapsibleSetting').removeClass('in'); }, 0);
                </script>
            }

        }
    }
            }
            else
            {
                <div class="jumbotron">
                    <div class="container">
                        <h1>@DashBoardResource.WelcomeHeader</h1>
                        <p>
                            @DashBoardResource.WelcomeDescription
                        </p>
                    </div>
                </div>
            }