@model ExpenseManager.Web.Models.User.ExternalLoginListViewModel
@using ExpenseManager.Resources.AccountResources
@using Microsoft.Owin.Security

<h4>@AccountResource.UseAnotherService</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>@AccountResource.NoExternalAuthServices</p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title=@String.Format(AccountResource.LogInUsingAccount, p.Caption)>@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
